/* ==UserStyle==
@name           More Game More Waifu
@namespace      https://l.flandre.tw/github/stylus-usercss
@version        1.0.0
@description    Make me buy games on dlsite easily
@author         FlandreDaisuki<github@flandre.tw>
@preprocessor stylus
@var checkbox highlightFavorite  "強調關注" 1
@var checkbox highlightDiscount  "強調折扣" 1
@var checkbox highlightpurchased "強調已買" 1
@var checkbox fadeAnimation      "淡化動畫" 0
@var checkbox streamingMode      "實況模式" 0
==/UserStyle== */
@-moz-document domain("www.dlsite.com") {
  :root {
    --bg-checkerboard: conic-gradient( white 0.25turn, black 0.25turn 0.5turn, white 0.5turn 0.75turn, black 0.75turn) top left / 1rem 1rem repeat;
  }

  * {
    user-select: auto !important;
  }

  /* #region Page: ranking */
  /* https://www.dlsite.com/maniax/ranking/:timeRange */
  table#ranking_table {
    if (highlightFavorite) {
      tr:has(a.btn_favorite_in) {
        outline: 3px dashed black;
      }
    }

    if (highlightDiscount) {
      dd.work_price_wrap > span.icon_campaign.type_sale {
        display: inline-flex;
        align-items: center;
        font-size: 1.2rem;
        height: 1.5rem;
      }
    }

    if (fadeAnimation) {
      a.work_thumb_box:has(+ .work_category.type_MOV) {
        transition: opacity 0.3s;
        opacity: 0.1;
        &:hover {
          opacity: 1;
        }
      }
    }

    if (highlightpurchased) {
      tr:not(:has(a.btn_cart)) a.work_thumb_box {
        position: relative;
        overflow: hidden;

        &:not(:hover) {
          img.work_thumb_box_img {
            opacity: 0.1;
          }

          &::after {
            content: var(--label-item-purchased, '買いました');
            white-space: nowrap;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 2rem;
            transform-origin: center center;
            transform: translate(-50%, -50%) rotate(-10deg);
            background-color: #F8F9FA;
            color: #2D3436;
            box-shadow: 0 0 8px gray;
            width: 240px;
            padding: 0 48px;
          }
        }
      }
    }

    if (streamingMode) {
      tr:has(a.btn_cart) a.work_thumb_box::after,
      tr:not(:has(a.btn_cart)) a.work_thumb_box:hover::after {
        background: var(--bg-checkerboard);
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0.5;
      }
    }
  }
  /* #endregion Page: ranking */


  /* #region Page: ranking top */
  /* https://www.dlsite.com/maniax/ranking */
  ul.ranking_top_worklist {
    if (streamingMode) {
      a.work_thumb_inner::after {
        background: var(--bg-checkerboard);
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0.5;
        margin: auto;
      }
    }
  }
  /* #endregion Page: ranking top */


  /* #region Page: search */
  /* https://www.dlsite.com/maniax/fsr/=/:pathQuery */
  /* https://www.dlsite.com/maniax/campaign/sale?key={key} */
  /* https://www.dlsite.com/maniax/campaign/discount?key={key} */
  div#container:not(:has(div.campaign_container)) div#search_result_list {
    ul#search_result_img_box.n_worklist {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, auto));

      li.search_result_img_box_inner {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
        max-width: none;
        padding-bottom: 0;

        /* discount labels */
        dl.work_img_main {
          dd.work_deals.work_labels {
            padding: 8px 0;
            display: grid;
            justify-content: initial;
            span.icon_lead_01 {
              margin: 0;
            }
          }

          dd.maker_name {
            white-space: initial;
          }
        }

        div.work_btn_box {
          margin: 0 -9px;

          & dd.work_operation_btn {
            opacity: 1;
            position: relative;
          }
        }
      }
    }

    /* for free games filter */
    ul#search_result_img_box:not(:has( > li:not([style*="display: none;"]))) {
      border: none;

      &::after {
        content: var(--label-items-all-purchased, '全部購入しました');
        font-size: 2.5rem;
        line-height: 1.5;
        white-space: nowrap;
      }
    }

    if (highlightFavorite) {
      ul#search_result_img_box.n_worklist > li.search_result_img_box_inner:has(li.work_favorite a.btn_favorite_in)::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        pointer-events: none;
        border: 3px dashed #000;
      }
    }

    if (fadeAnimation) {
      li.search_result_img_box_inner:has(div.work_category.type_MOV) a.work_thumb_inner {
        transition: opacity 0.3s;
        opacity: 0.1;
        &:hover {
          opacity: 1;
        }
      }
    }

    if (highlightDiscount) {
      dl.work_img_main > dd.work_deals.work_labels > span.type_sale {
        font-size: 1.5rem;
        height: 2rem;
        line-height: 1.8rem;
      }
    }

    if (streamingMode) {
      a.work_thumb_inner::after {
        background: var(--bg-checkerboard);
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0.5;
      }
    }
  }
  /* #endregion Page: search */


  /* #region Page: campaign, no favorite btn */
  /* https://www.dlsite.com/maniax/campaign/bulkbuy/=/key/:key */
  div#container:has(div.campaign_container) div#search_result_list {
    ul#search_result_img_box.n_worklist {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(290px, auto));

      li.search_result_img_box_inner {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
        max-width: none;
        padding-bottom: 0;

        dl.work_img_main {
          height: 100%;
          dd.work_deals.work_labels {
            padding-top: 8px;
            padding-bottom: 4px;
          }
        }

        div.work_operation_btn > ul.table-ul {
          padding: 8px 0;
        }
      }
    }

    if (fadeAnimation) {
      li.search_result_img_box_inner:has(dd.work_genre > span.icon_MOV) dt.search_img.work_thumb > a {
        transition: opacity 0.3s;
        opacity: 0.1;
        &:hover {
          opacity: 1;
        }
      }
    }

    if (highlightDiscount) {
      dl.work_img_main > dd.work_deals.work_labels > span.type_sale {
        font-size: 1.5rem;
        height: 2rem;
        line-height: 1.8rem;
      }
    }

    if (streamingMode) {
      dt.search_img.work_thumb > a::after {
        background: var(--bg-checkerboard);
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0.5;
      }
    }
  }
  /* #endregion Page: campaign */


  /* #region Page: wishlist */
  /* https://www.dlsite.com/maniax/mypage/wishlist */
  form#edit_wishlist {
    if (highlightDiscount) {
      div.work_discount_wrap > span.icon_campaign.type_sale {
        display: inline-flex;
        align-items: center;
        font-size: 1.2rem;
        height: 1.5rem;
      }
    }

    if (streamingMode) {
      a.thumbnail-with-popup::after {
        background: var(--bg-checkerboard);
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        opacity: 0.5;
      }
    }
  }
  /* #endregion Page: wishlist */


  html:lang(ja) {
    --label-item-purchased: '買いました';
    --label-items-all-purchased: '全部購入しました';
  }

  html:lang(en) {
    --label-item-purchased: 'Purchased';
    --label-items-all-purchased: 'All items purchased';
  }

  html:lang(zh-tw) {
    --label-item-purchased: '已購買';
    --label-items-all-purchased: '已購買全部項目';
  }

  html:lang(zh-cn) {
    --label-item-purchased: '已购买';
    --label-items-all-purchased: '已购买全部项目';
  }

  html:lang(ko) {
    --label-item-purchased: '구매함';
    --label-items-all-purchased: '모두 구매함';
  }

  html:lang(es) {
    --label-item-purchased: 'Comprado';
    --label-items-all-purchased: 'Todo comprado';
  }

  html:lang(de) {
    --label-item-purchased: 'Gekauft';
    --label-items-all-purchased: 'Alles gekauft';
  }

  html:lang(fr) {
    --label-item-purchased: 'Acheté';
    --label-items-all-purchased: 'Tout acheté';
  }

  html:lang(id) {
    --label-item-purchased: 'Dibeli';
    --label-items-all-purchased: 'Semua sudah dibeli';
  }

  html:lang(it) {
    --label-item-purchased: 'Acquistato';
    --label-items-all-purchased: 'Tutto acquistato';
  }

  html:lang(pt) {
    --label-item-purchased: 'Comprado';
    --label-items-all-purchased: 'Tudo comprado';
  }

  html:lang(sv) {
    --label-item-purchased: 'Köpt';
    --label-items-all-purchased: 'Allt köpt';
  }

  html:lang(th) {
    --label-item-purchased: 'ซื้อแล้ว';
    --label-items-all-purchased: 'ซื้อทั้งหมดแล้ว';
  }

  html:lang(vi) {
    --label-item-purchased: 'Đã mua';
    --label-items-all-purchased: 'Đã mua tất cả';
  }
}
